<h1>Welcome to our IMDB Clone!</h1>

<ul>
  <li><%= link_to "Log In", login_path %></li>
  <li><%= link_to "Sign up to be a Movie Watcher", new_user_path %></li>
  <li><a href="<%= new_actor_path %>">New Actor</a>
  <li><a href="<%= new_director_path %>">New Director</a>
</ul>
